@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@tailwind utilities;
html,
body {
  @apply bg-gray-900;
  /* @apply text-gray-200; */
  
}
.app{
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

/* @media screen and (min-width: 640px) {
  .app {
    width: 80%;
    height: 50%;
    margin-top: 100px;
  }
} */
@media screen and (max-width: 425px) {
  .app {
    @apply w-[80%] h-[50%] m-auto mt-24;
  }
}